#city {
    width: 100%;
    height: auto;
}
.city-index-title {
    padding-left: 15px;
    font-size: 14px;
    line-height: 40px;
    background-color: #ebebeb;
    margin-top: -1px;
}
.city-index-detail  {
    background-color: #fff;
    margin: 0;
    min-width: 320px;
}
.city-item-detail {
    width: 25%;
    font-size: 16px;
    line-height: 46px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    color: #838383;
    border-bottom: #ebebeb 1px solid;
}
.hot-city {

}
.city-item-detail-gprs {
    color: #e2941a;
}
.hot-city  .city-index-detail{
    display: flex;
}
.hot-city  .city-index-detail span{
    flex: 1;
    display: block;
}
