@font-face {font-family: "iconfont";
  src: url('iconfont.ttf') format('truetype');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*header 人物*/
.icon-person:before { content: "\e7cc"; }

.icon-top:before { content: "\e6b9"; }

/*header菜单*/
.icon-menu:before { content: "\e81e"; }

.icon-arrow-right:before { content: "\e611"; }

/*header 地址下括号*/
.icon-arrow-down:after { content: "\e7c6"; }

